.footer{
  background-color: var(--c12);
  color: white;
}
.footer-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 60px;
  max-width: 1200px;
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.footer h3{
  font-weight: 300;
  margin-bottom: 32px;
}
.contato-footer p{
font-family: 'Roboto';
font-weight: 400;
font-size: 1.125rem;
line-height: 32px;
color: var(--c5);
}
.informacoes-footer li a{
font-family: 'Poppins';
font-weight: 400;
font-size: 1.125rem;
line-height: 36px;
color: white;
}
.bikcraft-footer-p{
font-family: 'Roboto';
font-weight: 400;
font-size: 2rem;
line-height: 36px;
color: var(--c6);
grid-column: 1/-1;
padding-bottom: 32px;

}
.icones-footer{
  display: flex;
  gap: 32px;
  margin-top: 12px;
}
.padding-bottom-detalhe{
  padding-bottom: 20px;
  border-bottom: 2px solid var(--c11);
}
.padding-top-detalhe{
  padding-top: 20px;
}
@media (max-width:800px){
  .footer-grid{
    grid-template-columns: 1fr ;
  }
  .bikcraft-img-footer{
    grid-column: 1/-1;

  }
  .bikcraft-footer-p{
    font-size: 1.3rem;
    text-align: center;
  }
  .footer-grid{
    gap: 30px;
  }
}