.header-bg{
  background-color: var(--c12);
}
.header-bg .header-conteiner{
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
}
.header-bg ul{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  
}
.header-bg nav a{
  font-family: 'poppins';
  font-size: 1rem;
  font-weight: 32px;
}
.header-bg nav a::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  
}
.header-bg nav a:hover::after{
  content: "";
  display: block;
  height: 2px;
  background-color: white;
  transition: .2s;
}
  .header-bg nav a:hover::after,
  .header-bg nav a.ativo::after {
    width: 100%;
  }



.header-bg nav a{
  color: white;
}