.seguros-bg{
  background-color: var(--c11);
}
.seguro-prata, .seguro-ouro{
  background-color: var(--c12);
  padding-top: 32px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  border-radius: 4px;
}
.conteiner-seguros{
  align-items: center;
}


.seguros-bg h2{
  grid-column: 1/-1;
  color: white;
  padding-top: 60px;
}
.seguros-bg h3{
  font-family: 'poppins';
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 36px;
}
.seguros-bg li::before{
  content: "";
  width: 13px;
  height: 9px;
  display: inline-block;
  background-image: url(../icones/lista.svg); 
  left: -21px;
  position: absolute;
}
.seguros-bg li{
  display: flex;
  align-items: center;
  position: relative;
  
}

.seguro-col-1 a{
  margin-top: 32px;
  margin-bottom: 32px;
  
}
.seguro-col-2 span{
  display: block;
}
.seguro-prata h3{
  color: var(--c5);
}.seguro-ouro h3{
  color: var(--p2);
}
.seguros-bg li{
  color: white;
}
.seguro-col-1 li + li{
  margin-top: 16px;
}
.seguro-valor{
font-family: 'Poppins';
font-weight: 600;
font-size: 2.25rem;
line-height: 48px;
color: white;
}
.mensal{
font-family: 'Poppins';
font-weight: 600;
font-size: 12px;
line-height: 16px;
color: var(--c6);
text-align: right;
}
.botao-cinza{
  background: var(--c10) !important;
  color:var(--c4) !important ;
}
.botao-cinza:hover{
  background: var(--c9) !important;
}
  @media (max-width:1000px){
    .seguro-valor{
      font-size: 1.7rem;
    }
    .seguros-bg h3{
      font-size: 2.1rem ;
    }
  }
  @media (max-width:950px){
    .conteiner-seguros{
      grid-template-columns: 1fr !important;
      gap: 32px !important;
      
    }
    .seguro-ouro, .seguro-prata{
      padding-top: 20px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 20px;
    }
    .seguro-col-1 li + li{
      margin-top: 12px;
    }
    .seguro-valor{
      line-height: 1.1;
     padding-top: 5px;
    }
    
    
  }