.vantagens-seguro-bg{
  background-color: var(--c12);
  color: white;
}
.vantagens-seguro{
  padding-top: 120px;
  padding-bottom: 120px;
}
.vantagens-seguro ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.vantagens-seguro ul h3{
  margin-top: 8px;
  margin-bottom: 8px;
}
.vantagens-seguro ul p{
font-family: 'Roboto';
font-weight: 400;
font-size: 0.88rem;
line-height: 24px;
}
.perguntas-frequentes{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.perguntas-frequentes h4{
font-family: 'Poppins';
font-weight: 600;
font-size: 1.125rem;
line-height: 24px;
color: var(--c11);
display: flex;
align-items: center;
gap: 8px;
}
.perguntas-frequentes h4::before{
 content: "";
display: inline-block;
width: 12px;
height: 8px;
background: #FFBB00;
}
.perguntas-frequentes ul{
  margin-top: 120px;
}
.perguntas-frequentes li{
  padding: 20px;
}
.perguntas-frequentes li:nth-child(odd){
  background-color: var(--c1);
  
}
.perguntas-frequentes p{
font-family: 'Roboto';
font-weight: 400;
font-size: 1.125rem;
line-height: 24px;
color: var(--c9);
max-width: 75ch;
}
@media(max-width:800px){
  .vantagens-seguro ul{
    grid-template-columns: 1fr 1fr;
  }
  .perguntas-frequentes p,.perguntas-frequentes h4{
    font-size: 1rem;
  }
  .vantagens-seguro{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .perguntas-frequentes{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .perguntas-frequentes ul{
    margin-top: 60px;
  }
}

