.vantagens-seguro-bg{
  background-color: var(--c12);
  color: white;
}
.vantagens-seguro{
  padding-top: 120px;
  padding-bottom: 120px;
}
.vantagens-seguro ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.vantagens-seguro ul h3{
  margin-top: 8px;
  margin-bottom: 8px;
}
.vantagens-seguro ul p{
font-family: 'Roboto';
font-weight: 400;
font-size: 0.88rem;
line-height: 24px;
}
.perguntas-frequentes{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.perguntas-frequentes dt{
font-family: 'Poppins';
font-weight: 600;
font-size: 1.125rem;
line-height: 24px;
color: var(--c11);
display: flex;
align-items: center;
gap: 8px;
}
.perguntas-frequentes dt::before{
 content: "";
display: inline-block;
width: 12px;
height: 8px;
background: #FFBB00;
}
.perguntas-frequentes dt {
  position: relative;
}
.perguntas-frequentes dt::after{
  content: "";
  width: 14px;
  height: 8px;
  background:url(../icones/seta-abrir.svg) no-repeat;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 20px;
  transition: .3s;
  cursor: pointer;
}
.perguntas-frequentes dt:hover::after{
  transform: rotate(180deg);
}
.perguntas-frequentes [required]{
  margin-top: 120px;
}
dl > div{
  padding: 20px;
  
}
.perguntas-frequentes div:nth-child(odd){
  background-color: var(--c1);
  
}
.perguntas-frequentes dd{
font-family: 'Roboto';
font-weight: 400;
font-size: 1.125rem;
line-height: 24px;
color: var(--c9);
max-width: 75ch;
padding-top: 4px;
}
@media(max-width:800px){
  .vantagens-seguro ul{
    grid-template-columns: 1fr 1fr;
  }
  .perguntas-frequentes dd,.perguntas-frequentes dt{
    font-size: 1rem;
  }
  .vantagens-seguro{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .perguntas-frequentes{
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .perguntas-frequentes [required]{
    margin-top: 60px;
  }
}

